# Dependency directories
node_modules/

# Distribution directories
dist/
build/

# Logs and databases
*.log
*.sqlite

# Coverage output
coverage/

# Environment variable files
.env

# IDE specific files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db